node_modules

# Output
.output
.vercel
.netlify
.wrangler
.prettierrc
.prettierignore
.npmrc
.eslint.config.js
package-lock.json
/.svelte-kit
/build
/dist
/Extra
/Models

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
